/* -----------------------------------------------------------------------* COLOUR DECLARATIONS
\* -----------------------------------------------------------------------*/
/* -----------------------------------------------------------------------* FONT DECLARATIONS
\* -----------------------------------------------------------------------*/
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../assets/fonts/proxima-nova-bold.eot") format("eot"), url("../assets/fonts/proxima-nova-bold.woff") format("woff"), url("../assets/fonts/proxima-nova-bold.ttf") format("truetype"), url("../assets/fonts/proxima-nova-bold.svg") format("svg"), url("../assets/fonts/proxima-nova-bold.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../assets/fonts/proxima-nova-semibold.eot") format("eot"), url("../assets/fonts/proxima-nova-semibold.woff") format("woff"), url("../assets/fonts/proxima-nova-semibold.ttf") format("truetype"), url("../assets/fonts/proxima-nova-semibold.svg") format("svg"), url("../assets/fonts/proxima-nova-semibold.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../assets/fonts/proxima-nova-light.eot") format("eot"), url("../assets/fonts/proxima-nova-light.woff") format("woff"), url("../assets/fonts/proxima-nova-light.ttf") format("truetype"), url("../assets/fonts/proxima-nova-light.svg") format("svg"), url("../assets/fonts/proxima-nova-light.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Black';
  src: url("../assets/fonts/proxima-nova-black.eot") format("eot"), url("../assets/fonts/proxima-nova-black.woff") format("woff"), url("../assets/fonts/proxima-nova-black.ttf") format("truetype"), url("../assets/fonts/proxima-nova-black.svg") format("svg"), url("../assets/fonts/proxima-nova-black.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

/* -----------------------------------------------------------------------* BODY FONT STYLES
\* -----------------------------------------------------------------------*/
body {
  font-family: "ProximaNova-Semibold"; }

h1 {
  font-family: "ProximaNova-Bold";
  color: #ffffff;
  color: white;
  font-size: 10rem;
  letter-spacing: 10rem;
  text-indent: 10rem; }

h2 {
  color: white;
  font-family: "ProximaNova-Semibold"; }

h3 {
  font-family: "ProximaNova-Bold";
  padding: 0;
  margin: 0; }

h4 {
  font-family: "ProximaNova-Semibold";
  padding: 0;
  margin: 0; }

p {
  font-family: "ProximaNova-Light"; }

@media only screen and (max-width: 1600px) {
  h1 {
    font-size: 8rem;
    letter-spacing: 5rem;
    text-indent: 5rem; } }

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 4rem;
    letter-spacing: 2rem;
    text-indent: 2rem; } }

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 3em;
    letter-spacing: 2rem; } }

/* -----------------------------------------------------------------------* NAVIGATION
\* -----------------------------------------------------------------------*/
.is-drilldown {
  max-width: 100%; }

.top-bar {
  padding: 1rem;
  text-transform: uppercase; }

.top-bar, .top-bar ul {
  font-family: "ProximaNova-Bold";
  font-size: 1.3rem;
  line-height: 1.3rem;
  background-color: transparent;
  z-index: 20; }

.top-bar li {
  padding: 0rem 0rem; }

.top-bar a {
  color: #fff;
  position: relative;
  text-decoration: none; }

.top-bar a:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 2px;
  bottom: 0;
  left: 1.1rem;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.top-bar a:hover:before {
  color: #fff;
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1); }

.menu-icon {
  z-index: 20; }

.logo {
  z-index: 25;
  font-family: "ProximaNova-Black";
  font-size: 1.5rem;
  padding: 1rem; }

.logo:hover {
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.top-bar-left a:hover:before {
  visibility: hidden; }

.top-bar-left {
  z-index: 21; }

@media only screen and (max-width: 640px) {
  .top-bar, .top-bar ul {
    font-family: "ProximaNova-Bold";
    font-size: 1.5rem;
    line-height: 1.3rem;
    background-color: black;
    z-index: 20;
    padding: 0 0rem; }
  .top-bar ul {
    padding: 1rem; }
  .top-bar a {
    color: white;
    position: relative;
    text-decoration: none; }
  .top-bar li {
    padding: 0rem 2rem;
    background-color: black; }
  .top-bar li a {
    background-color: black; }
  .top-bar a:before {
    content: "";
    position: absolute;
    width: 25%;
    height: 2px;
    bottom: 0;
    left: 1.1rem;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .top-bar a:hover:before {
    color: white;
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

.orange-under a:before {
  background-color: #E94E1B; }

/* -----------------------------------------------------------------------*	LANDING PAGE
\* -----------------------------------------------------------------------*/
.eyes-video {
  position: relative;
  overflow: hidden;
  margin-top: -7rem;
  min-height: 105vh; }
  .eyes-video img {
    height: 10%; }
  .eyes-video img:hover {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
    -webkit-transition: 0.4s;
    transition: 0.4s; }
  .eyes-video #video_bg {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -2;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
    background: url(../assets/img/poster.png) no-repeat;
    background-size: cover;
    display: block; }
  .eyes-video h1 {
    margin-top: 30rem; }

.videohue {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #e94e1b;
  mix-blend-mode: multiply;
  z-index: -1; }

#down-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#down-btn img {
  height: 100px;
  margin-right: 1.5rem; }

@media only screen and (max-width: 1600px) {
  .eyes-video h1 {
    margin-top: 30rem; } }

@media only screen and (max-width: 800px) {
  .eyes-video {
    background: url(../assets/img/poster.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; }
    .eyes-video #video_bg {
      display: none; }
  .eyes-video h1 {
    margin-top: 15rem; }
  .videohue {
    display: none; }
  #down-btn img {
    margin-top: 5rem;
    height: 60px;
    margin-right: 1rem; } }

@media only screen and (max-width: 320px) {
  .eyes-video h1 {
    font-size: 3em;
    margin-right: 0rem; } }

/* -----------------------------------------------------------------------*	INFO VIDEO
\* -----------------------------------------------------------------------*/
#play-btn img {
  height: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-right: 5rem; }

#replay-btn img {
  height: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-right: 6rem; }

#play-btn img:hover, #replay-btn img:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%); }

.responsive-embed, .flex-video {
  margin-bottom: 0rem; }

/* -----------------------------------------------------------------------*	FORM
\* -----------------------------------------------------------------------*/
.desktop-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#webcam {
  border: solid 5px white;
  margin: 2rem;
  -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2); }

.upload-section {
  background-color: #ED6E44;
  padding: 5rem 0rem; }

.video-btn {
  border: solid white 2px;
  margin: 0 auto;
  max-width: 30rem;
  padding-top: 0.3rem; }

.video-btn:hover {
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.video-container svg {
  display: block;
  margin: auto; }

.video-container svg:hover {
  fill: #999999; }

.callout {
  display: none;
  margin: 0 auto;
  padding: 2rem;
  -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2); }

.take-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.take-video img {
  height: 400px;
  margin: 3rem; }

.take-video img:hover {
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

#choosefile-label {
  visibility: hidden; }

textarea {
  min-height: 15rem; }

@media only screen and (min-width: 1200px) {
  .callout {
    display: none;
    margin: 0 auto;
    width: 1150px;
    padding: 2rem;
    -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2); } }

@media only screen and (max-width: 1200px) {
  #webcam {
    max-width: 50rem; }
  .callout {
    display: none;
    margin: 0 auto;
    max-width: 50rem;
    -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2); } }

@media only screen and (max-width: 800px) {
  .callout {
    display: none;
    margin: 0 auto;
    max-width: 30rem;
    -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2); }
  .video-btn {
    border: solid white 2px;
    margin: 0 auto;
    max-width: 20rem;
    margin-bottom: 3rem; }
  .video-btn h2 {
    font-size: 2rem; }
  #webcam {
    display: none; }
  .take-video img {
    height: 250px;
    margin-bottom: 3rem; } }

@media only screen and (max-width: 400px) {
  .callout {
    display: none;
    margin: 0 auto;
    max-width: 20rem;
    -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2); }
  .take-video img {
    height: 250px;
    margin: 3rem; }
  .video-btn {
    border: solid white 2px;
    margin: 0 auto;
    max-width: 20rem;
    margin-bottom: 3rem; }
  #choosefile {
    display: none; }
  #choosefile-label {
    visibility: visible; } }

/* -----------------------------------------------------------------------*  TEAM PAGE
\* -----------------------------------------------------------------------*/
.team, .piece, .wach, .kontakt {
  margin-top: -10rem; }
  .team h1, .piece h1, .wach h1, .kontakt h1 {
    margin-top: 10rem;
    font-size: 7rem;
    letter-spacing: 5rem;
    text-indent: 5rem; }
  .team h2, .piece h2, .wach h2, .kontakt h2 {
    margin-top: -6rem;
    font-size: 4.3rem;
    letter-spacing: 2rem;
    text-indent: 2rem; }
  .team h3, .piece h3, .wach h3, .kontakt h3 {
    font-family: 'ProximaNova-Bold';
    font-size: 1.5rem; }
  .team h4, .piece h4, .wach h4, .kontakt h4 {
    font-size: 1.2rem; }

.team .card {
  text-align: center;
  border: none;
  margin: 1rem; }

.team .card-section {
  min-height: 13rem;
  color: #E94E1B; }

.team .card img {
  border-radius: 10rem; }

.team-grid {
  padding: 5rem; }

@media only screen and (max-width: 1000px) {
  .team h1 {
    font-size: 6rem;
    letter-spacing: 3rem;
    text-indent: 3rem; }
  .team h2 {
    font-size: 2rem;
    letter-spacing: 2.5rem;
    text-indent: 2.5rem;
    margin-top: -4rem; } }

@media only screen and (max-width: 600px) {
  .team h1 {
    font-size: 4rem;
    letter-spacing: 2rem;
    text-indent: 2rem;
    padding-top: 2rem; }
  .team h2 {
    font-size: 2rem;
    letter-spacing: 1.5rem;
    text-indent: 1.5rem;
    margin-top: -4rem; } }

@media only screen and (max-width: 850px) {
  .piece h1, .kontakt h1 {
    font-size: 5rem;
    letter-spacing: 3rem;
    text-indent: 3rem;
    padding-top: 2rem; }
  .piece h2, .kontakt h2 {
    font-size: 3rem;
    letter-spacing: 1.5rem;
    text-indent: 1.5rem;
    margin-top: -4rem; } }

@media only screen and (max-width: 800px) {
  .wach h1 {
    font-size: 5rem;
    letter-spacing: 3rem;
    text-indent: 3rem;
    padding-top: 2rem; }
  .wach h2 {
    font-size: 2rem;
    letter-spacing: 2.5rem;
    text-indent: 2.5rem;
    margin-top: -4rem; } }

@media only screen and (max-width: 600px) {
  .wach h1, .stuck h1, .kontakt h1 {
    font-size: 2rem;
    letter-spacing: 2rem;
    text-indent: 2rem; }
  .wach h2, .stuck h2, .kontakt h2 {
    font-size: 1rem;
    letter-spacing: 1.3rem;
    text-indent: 1.3rem;
    margin-top: -1rem; } }

.orange {
  color: #E94E1B; }

/* -----------------------------------------------------------------------*  WACH PAGE
\* -----------------------------------------------------------------------*/
.youtube-embed {
  padding-bottom: 5rem; }

.piece .youtube-embed {
  padding-top: 4rem; }

/* -----------------------------------------------------------------------*  kontakt
\* -----------------------------------------------------------------------*/
.kontakt {
  padding-bottom: 20rem; }

.kontakt h3 {
  padding-top: 5rem; }

/* -----------------------------------------------------------------------*  Beispele
\* -----------------------------------------------------------------------*/
.video-slider {
  padding: 5rem 10rem; }

.beispiele h1 {
  padding: 0rem;
  padding-top: 3rem;
  margin: 0; }

.beispiele h2 {
  padding: 0rem;
  margin: 0; }

@media only screen and (max-width: 850px) {
  .video-slider {
    padding: 0; } }

/* -----------------------------------------------------------------------*  FOOTER
\* -----------------------------------------------------------------------*/
footer {
  background-color: #070707; }

footer p {
  color: white;
  font-family: 'ProximaNova-Light';
  font-size: 0.5rem; }

.fft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer-dark p {
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 2rem; }

.footer-light {
  background-color: #474747;
  padding: 1rem; }

.footer-logos {
  padding-bottom: 1rem; }

.footer-light p {
  font-size: 1rem; }

.footer-menu {
  background-color: #313131;
  padding: 0.5rem; }

.footer-menu a {
  color: #fff;
  font-size: 1rem; }

.footer-menu a:hover {
  color: #d5d5d5; }

.footer-menu ul {
  line-height: 0.5rem;
  text-align: center; }

@media only screen and (max-width: 800px) {
  .footer-light img {
    padding: 2rem 0rem; } }
