$light-blue: #AADEE9;


.video-container {
	background-color: $light-blue;
	width: 1150px;
  	height: 647px; }

	svg {

		display: block;
		margin: auto;
	}
	svg:hover {
		fill: #999999;
	}

video {
	position: relative;
	top: -600px;
}