/* -----------------------------------------------------------------------*\
 COLOUR DECLARATIONS
\* -----------------------------------------------------------------------*/

$light-blue: #AADEE9;
$orange: #E94E1B;



/* -----------------------------------------------------------------------*\
 FONT DECLARATIONS
\* -----------------------------------------------------------------------*/

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../assets/fonts/Proxima-Nova-Bold.eot') format('eot'), /* IE9 Compat Modes */
       url('../assets/fonts/Proxima-Nova-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/Proxima-Nova-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Proxima-Nova-Bold.svg') format('svg'), /* Legacy iOS */
       url('../assets/fonts/Proxima-Nova-Bold.otf') format('otf'); 
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../assets/fonts/Proxima-Nova-Semibold.eot') format('eot'), /* IE9 Compat Modes */
       url('../assets/fonts/Proxima-Nova-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/Proxima-Nova-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Proxima-Nova-Semibold.svg') format('svg'), /* Legacy iOS */
       url('../assets/fonts/Proxima-Nova-Semibold.otf') format('otf'); 
       font-weight: normal; 
       font-style: normal; 
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../assets/fonts/Proxima-Nova-Light.eot') format('eot'), /* IE9 Compat Modes */
       url('../assets/fonts/Proxima-Nova-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/Proxima-Nova-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Proxima-Nova-Light.svg') format('svg'), /* Legacy iOS */
       url('../assets/fonts/Proxima-Nova-Light.otf') format('otf'); 
       font-weight: normal; 
       font-style: normal; 
}

/* -----------------------------------------------------------------------*\
 BODY FONT STYLES
\* -----------------------------------------------------------------------*/


body {
  font-family: "ProximaNova-Semibold";
}

h1 {
  font-family: "ProximaNova-Bold";
  font-size: 5rem;


}

p {
  font-family: "ProximaNova-Light";
}

/* -----------------------------------------------------------------------*\
 NAVIGATION
\* -----------------------------------------------------------------------*/



.top-bar {
    padding: 1rem;
    text-transform: uppercase;
}

.top-bar, .top-bar ul {
  font-family: "ProximaNova-Bold";
  font-size: 2rem;
  line-height: 1.3rem;
  background-color: transparent;
  z-index: 20;

}

.top-bar li {
	padding: 0rem 2rem;
}

.top-bar a {
  color: #fff;
  position: relative;
  text-decoration: none;
}

.top-bar a:before {
  content: "";
  position: absolute;
  width: 82%;
  height: 2px;
  bottom: 0;
  left: 1.1rem;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.top-bar a:hover:before {
  color: #fff;
  visibility: visible;
  transform: scaleX(1);
}

/* -----------------------------------------------------------------------*\
	LANDING PAGE
\* -----------------------------------------------------------------------*/

.eyes-video {
  position: relative;
  overflow: hidden;
  margin-top: -7rem;

  img {
  	height: 10%;
	margin-left: -5rem;
	margin-top: 10rem;
  }

  img:hover {
  	filter: brightness(0%);
  	transition: 0.4s;
  }
  


  #video_bg {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -2;
    filter: grayscale(1);
    -webkit-filter: grayscale(1); 
    filter: grayscale(100%); 

  }


  h1 {
	margin-top: 30rem;
    color: white;
	margin-left: -24rem;
	font-size: 10rem;
	letter-spacing: 10rem;
	text-indent: -10rem;
  }
}

.videohue {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(233, 78, 27, 1);
    mix-blend-mode: multiply;
    z-index: -1;
}

@media only screen and (max-width: 1600px) {

   .eyes-video h1 { 
  margin-top: 30rem;
margin-left: -16rem;
font-size: 8rem;
letter-spacing: 5rem;
text-indent: -5rem;
   }

}

@media only screen and (max-width: 800px) {

   .eyes-video h1 { 
  margin-top: 30rem;
margin-left: -9rem;
font-size: 4rem;
letter-spacing: 2rem;
text-indent: -2rem;
   }

}

@media only screen and (max-width: 320px) {

   .eyes-video h1 { 
   	font-size: 3em; 
   	letter-spacing: 2rem;
   	margin-left: -7rem;
   }

}

/* -----------------------------------------------------------------------*\
	INFO VIDEO
\* -----------------------------------------------------------------------*/



#info-vid {
	z-index: -1;
}

#replay-btn {

	img {
		
	height: 20%;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-right: 6rem; 
  
	}

}

/* -----------------------------------------------------------------------*\
	FORM
\* -----------------------------------------------------------------------*/

.video-container {
	background-color: $light-blue;
	width: 1150px;
  	height: 647px; 

	svg {

		display: block;
		margin: auto;
	}
	svg:hover {
		fill: #999999;
	}

video {



}


}

/* -----------------------------------------------------------------------*\
  FOOTER
\* -----------------------------------------------------------------------*/

footer {
  background-color: #070707;
}


footer p {
  color: white;
  font-family: 'P22UndergroundPro-Book';
  text-align: center;
  font-size: 0.5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;

}

.footer-light {
  background-color: #474747;
  padding: 1rem;
 
}





footer svg {
  height: 4rem;
  width: 4rem;
}

footer svg:hover #facebook, footer svg:hover #twitter,
footer svg:hover #instagram { 
  fill: #555555;
}

footer a svg #facebook, footer a svg #twitter,
footer a svg #instagram { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

svg:hover #logo {
  fill: #212121;
}

svg:hover #logo {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.footer-menu {
    background-color: #313131;
    padding: 0.5rem;
    padding-bottom: 2rem;


}

.footer-menu a {
    color: #fff;
    font-size: 0.7rem;

}

.footer-menu a:hover {
    color: #d5d5d5;
    

}

.footer-menu ul {
  line-height: 0.5rem;
  text-align: center;
}
